.body {
  color: black;
  font-family: "Courier New", Courier, monospace;
}
body::-webkit-scrollbar {
    width: .4em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: pink;
  outline: 1px solid slategrey;
  width: .4em;
}


.a4ty-container {
  width: 100%;
  overflow:hidden;
  position: relative;
}
.a4ty-col {
  float:left;
  margin:auto;
  display: inline-block;
  width: 2.17391304vw;
  height: 100vh;
  transition: 1s;
  overflow:hidden;
}
.a4ty-col:hover{
        width: 50%;
        overflow:scroll;
    }
.a4ty-playlist {
  width:100%;
  height:100%;
}
iframe {
  display: block;
  margin: 0 auto;
  margin-top: 200px;
}
